
main{
    padding: 1em;
    position: absolute;
    text-align: center;
    right:0px;
    left:0px;
    margin-left: auto; 
    margin-right: auto; 
    width: auto;
}

p{
    border-radius: 30px;
    text-align: inherit;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(66,66,66,0.2813186813186813) 100%);    color: inherit;
}
body{ 
    color:white;
    font-family: 'Abel', sans-serif;
    text-align: center;
    position:relative;
    z-index: 1;
    margin: 0%; 
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

img{
    animation: spinning 1s infinite linear;
}
@keyframes spinning {    
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
} 

.backdiv{
    position: relative;
    z-index: -1;
    margin: 10px;
    mask-repeat: space;
    mask-size: auto;
    min-height: 1000px;;
    min-width: auto;
    -webkit-mask-repeat: space;
    -webkit-mask-size: 100px, contain;
    background-size: contain;
    background-color: rgb(131,58,180);
    background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-mask-image: url(https://ianmckl.github.io/prime-pw-week-5-assignment-part-2/record.svg);
    mask-image: url(https://ianmckl.github.io/prime-pw-week-5-assignment-part-2/record.svg);
}